.hiddenInput {
	display: none;
}

.addmargin {
	margin-bottom: 20px;
}

.pos-relative {
	position: relative;
}

.carousel-text-shadow {
	text-shadow: #000 2px 2px 2px;
}

.black {
	color: #000;
}

.white
{
	color: #FFF;
	float: right;
}

.showMore
{
    float: right;
}

.showMore a
{
    text-decoration: none;
    color: dimgray;
}