.news-info p
{
	font-size: 12px;
	color: grey;
}

.goback
{
	font-size: 12px;
	color: grey;
	float: right;
	margin-left: 300px;
}

.goback a
{
	font-size: 14px;
	color: grey;
	float: right;

}

.reactions 
{
	font-size: 12px;
	color: grey;
}

.reactions a
{
	font-size: 12px;
	color: grey;
}

.newstitle 
{
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
}

.newsdate 
{
	margin: 0px;
}

.newstext 
{
	margin: 0px;
}

.newstable-grouping
{
	padding-left: 0px;
	padding-right: 30px;
}