.right{
	float: right;
	color: black;
}


.introduction{
	margin: 0px 0px 20px 0px;
}

.sidebar {
	list-style: none;
}

.td-tekst {
    width: 25%;
}

.td-intern {
    width: 50%;
}

.td-intern > input{
    width: 75%;
}

.td-radio1 {
}